@import "https://fonts.googleapis.com/css?family=Barlow+Condensed:500,700";

// Mix Ins

@mixin background_image($page) {
	background-image: url(../img/#{$page}.png);
}

@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$desktop}) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin tabletport {
    @media (min-width: #{$tablet}) and (max-width: #{$desktop}) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin mobileland {
    @media (max-width: #{$tablet}) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin mobileport {
    @media (max-width: #{$mobile}) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}


$desktop: 1200px;
$laptop: 992px;
$tablet: 800px;
$mobile: 700px;

// Font Mixins

@font-face {
	font-family: BetterTimes;
	src:url(../fonts/better_times.otf);
}
@font-face {
	font-family: BurfordBase;
	src:url(../fonts/burford_base.otf);
}
@font-face {
	font-family: BurfordRustic;
	src:url(../fonts/burford_rustic.otf);
}


$sourcesans: "Source Sans Pro";
$bettertimes: "BetterTimes";
$burfordbase: "BurfordBase";
$burfordrustic: "BurfordRustic";
$barlow: "Barlow Condensed";



// Global Font Sizes

p {
  color: #4c4c4c;
  font-size: 1.063rem;
  font-weight: 600;
  font-family: $sourcesans;
}

h1 {
  font-family: $burfordbase;
  font-size: 2.5rem;
  color: #563725;
	@include breakpoint(medium) {
		font-size: 3.688rem;
	}
}

.top-bar {
	a {
		color: white;
		&:hover {
			color: red;
		}
	}
}

// Media Break Points


// Global Styling

.background-wrapper {
  background-color: #e9e9e7;
}


.lower-hero-strip {
  height: 10px;
  background-color: #b12a10;
  margin-top: -1px;
}
