<footer>
<div class="grid-container upper-footer fluid">
  <div class="grid-x">
    <div class="left-section medium-4 cell">
      <!-- Left Footer -->
      <h5>Contact Information</h5>
      <h6>Main Office</h6>
      <p class="lacey-footer">Lacey Wilson, Executive Director
        <br>PO Box 8, Metlakatla, Alaska 99926
        <br><a href="mailto:laceyw@visitmetlakatla.com">laceyw@visitmetlakatla.com</a>
        <br>907.866.4441 X 2247</p>
        <p class="candice-footer">
          Candice Dundas, Program Coordinator
          <br>PO Box 8, Metlakatla, Alaska 99926
          <br><a href="mailto:candiced@visitmetlakatla.com">candiced@visitmetlakatla.com</a>
          <br>907.886.8687</p>
    </div>
    <div class="middle-section medium-4 cell">
      <!-- Middle Footer -->
      <a href="tours.html" class="button hollow large button-drop">BOOK A TOUR</a>
      <p><a href="mailto:"info@visitmetlakatla.com>info@visitmetlakatla.com</a></p>
      <img src="{{root}}assets/img/phone_icon.png" alt=""><span>907.886.TOURS</span>
    </div>
    <div class="right-section medium-4 cell">
      <img src="{{root}}assets/img/logo.png" alt="">
    </div>
  </div>
</div>
<div class="grid-container lower-footer fluid">
  <div class="grid-x">
    <div class="cell">
      <p>Designed, Developed &amp; Powered by <a href="http://www.northcreativedesign.com" target="_blank">North Creative Design Co., LLC</a> | Ketchikan, AK  |   © Copyright 2017   |  All Rights Reserved  |  Version 1.0</p>
    </div>
  </div>
</div>
</footer>
