<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title vetical">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
      <li><a href="index.html">HOME</a></li>
      <li><a href="about.html">WHO WE ARE</a></li>
      <li><a href="history.html">HISTORY</a></li>
      <li><a href="directory.html">HOSPITALITY DIRECTORY</a></li>
      <li><a href="tours.html">VISIT US</a></li>
      <li><a href="contact.html">CONTACT</a></li>
      <li class="menu-text"><span><img src="/assets/img/phone_icon.png"></span>907.886.TOURS</li>
    </ul>
  </div>
</div>
